<!DOCTYPE html>
<html lang="<%=luci.i18n.context.lang%>">
<head>
	<meta charset="utf-8">
	<meta name="color-scheme" content="dark">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<meta name="theme-color" content="#09c">
	<meta name="application-name" content="Alpha - LuCI">
	<meta name="apple-mobile-web-app-title" content="Alpha - LuCI">
	<link rel="stylesheet" href="/luci-static/alpha/style/style.css">
	<link rel="shortcut icon" href="/luci-static/alpha/favicon.ico">
	<title>Alpha - <%:Login%></title>
</head>
<body class="lang_<%=luci.i18n.context.lang%> node-main-login"
	style="background-image:url('/luci-static/alpha/background/login.png')">
	<header>
		<div class="fill">
			<div class="container">
				<span class="showSide"></span>
				<img class="tengah" src="/luci-static/alpha/style/brand.png" alt="Alpha">
				<img class="bawah" src="/luci-static/alpha/style/openwrt20thanniversary.png" alt="OpenWrt">
				<span class="status" id="indicators"></span>
			</div>
		</div>
	</header>

	<div class="box">
		<div class="box-form">
			<div class="box-login">
				<form method="post" action="<%=pcdata(luci.http.getenv('REQUEST_URI'))%>">
					<%- if fuser then %>
						<div class="alert-message warning">
							<p><%:Invalid username and/or password! Please try again.%></p>
						</div>
					<% end -%>

					<div class="fieldset-body" id="login_form">
						<p class="field">
							<label class="cbi-value-title" for="luci_username"><%:Username%></label>
							<input type="text" name="luci_username" id="luci_username"
								autocomplete="username" value="<%=pcdata(duser or 'root')%>">
						</p>
						<p class="field">
							<label class="cbi-value-title" for="luci_password"><%:Password%></label>
							<input type="password" name="luci_password" id="luci_password"
								autocomplete="current-password">
						</p>
						<label class="checkbox"><%:Please enter your username and password.%></label>
						<input type="submit" id="do_login" value="<%:Login%>">
					</div>
				</form>
			</div>
		</div>
	</div>

	<script>
		var password = document.getElementById("luci_password");
		if (password)
			password.focus();
	</script>
</body>
</html>
